@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

.bg {
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  position: relative;
  color: #fff;
  background-color: hsl(218, 20%, 24%);
  border-radius: 15px;
}

.container p {
  display: flex;
  justify-content: center;
  color: hsl(150, 100%, 66%);
  margin-top: 40px;
}

.container h2 {
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 15px 50px;
  color: hsl(193, 38%, 86%);
}

.container .divider-desktop {
  margin: 0 auto;
  position: absolute;
  left: 50px;
  bottom: 60px;
  width: 80%;
}

.container .divider-mobile {
  display: none;
}

.container .circle {
  background-color: hsl(150, 100%, 66%);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  bottom: -35px;
  left: 215px;
  z-index: 1;
}

.container .circle:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 40px rgba(82, 255, 168, 0.5);
}

.container .dice {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: -15px;
  left: 235px;
  z-index: 2;
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 300px;
    position: relative;
    color: #fff;
    background-color: hsl(218, 20%, 24%);
    border-radius: 15px;
  }

  .container .divider-desktop {
    display: none;
  }

  .container .divider-mobile {
    display: block;
    position: absolute;
    left: 32px;
    bottom: 50px;
    width: 80%;
  }

  .container h2 {
    font-size: 21px;
  }

  .container .circle {
    bottom: -35px;
    left: 135px;
  }

  .container .dice {
    bottom: -15px;
    left: 155px;
  }
}
